@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
}

h1 {
  text-align: center;
}

.container {
  width: 300px;
  margin: 4em auto;
  background: rgb(240, 240, 240);
  padding: 3em;
  border-radius: 7px;
}

.form-element {
  margin: 1.3em 0;
}

input {
  width: 300px;
  outline: none;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 4px;
  padding: 10px 7px;
  display: inline-block;
  background-color: none;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  font-weight: 600;
  display: none;
}

.btn-submit {
  width: 320px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 7px;
  background-color: #000;
  display: block;
  margin: 0 auto;
  color: white;
}

@media (max-width: 400px) {
  body {
    background: rgb(240, 240, 240);
  }

  .container {
    text-align: center;
    margin: 2em auto;
  }

  input {
    width: 250px;
  }

  .btn-submit {
    width: 270px;
  }

  p {
    text-align: left;
    margin-left: 20px;
  }
}
